</main>
<footer class="text-white flex items-center justify-center w-full">
    <p class="text-center">2023 - Pregunte.ar - Programación Web 2</p>
</footer>

{{> script }}

{{#ApiGoogleMaps}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ApiGoogleMaps}}&callback=initMap" async defer></script>
{{/ApiGoogleMaps}}

{{#ApiGoogleMapsPerfil}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ApiGoogleMapsPerfil}}&callback=perfilMapa" async defer></script>
{{/ApiGoogleMapsPerfil}}

    <script src="editor.js"></script>

{{#preguntas}}
    <script src="editor-sugerirpreguntas.js"></script>
{{/preguntas}}

{{#vistaPreguntasActivas}}
    <script src="editor-preguntasactivas.js"></script>
{{/vistaPreguntasActivas}}

</body>
</html>