<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <!-- Permanent market font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Permanent market font -->

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.mustache">
    {{>style}}
</head>

<body class="body h-full">
<!-- Navbar -->
<header class="header">
    <h1 class="py-10 text-center text-white logo-texto">PREGUNTE.<span class="logo-letra">AR</span></h1>
</header>
<!--<a href="/" class="w3-bar-item w3-button w3-padding-large">La banda</a>
        <a href="/songs/list" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Canciones</a>
        <a href="/tours/list" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Presentaciones</a>-->



