<script>
    $(window).on('resize', function() {
    if ($(window).width() < 430) {
    $('.login-registro').addClass('oculto');
} else {
    $('.login-registro').removeClass('oculto');
}
});
</script>