<style>
    html{
        box-sizing: border-box;
        /*font-size: 62.5%; 1 rem = 10px*/
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    *, *:before, *:after{
        box-sizing: inherit;
    }
    .body{
        background-color: #9248D9;
        font-family: 'Ubuntu', sans-serif;
    }
    .header{
        background-color: #4C145D;
    }
    .logo-texto{
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
    }
    .logo-letra{
        color: skyblue;
    }
    .texto{
        color: #AD5CF7;
        font-size: 25px;
    }

    /*main*/

    .contenedor{
        background-color: #4C145D;
        max-width: 1000px;
        margin: 0 auto;
        min-width: 300px;
        max-height: 550px;
    }
    @media (max-width: 360px) {
        .contenedor{
            min-width: 250px;
            width: 85%;

        }
        .texto{
            font-size: 20px;
        }


    }
    @media (max-height: 360px) {
        .main{
            margin: 150px 0;
        }

    }
    /*@media (max-width: 390px) {


    }*/

    @media (max-width: 740px) {
        .login-registro {
            display: none!important;
        }

    }

    @media (max-width: 768px) {
        .main{
            height: calc(100vh - 228px);
            width: 90%;
        }

    }

    @media (max-width: 844px) and (max-height: 390px) {
        .login-registro {
            display: none!important;
        }
    }


    @media (min-width: 1920px){
        .main{
            height: calc(100vh - 228px);
        }
    }
    @media (min-height: 1440px) {
        .main{
            height: calc(100vh - 228px);
        }
    }







    .login-registro{
        width: 80%;
        max-width: 750px;
    }
    .medida{
        max-width: 400px;
        /*min-width: 240px;*/

    }
    .boton-login-registro{
        background-color: #4C145D;
        min-width: 140px;
        max-width: 300px;
    }


    /*Footer*/
    .footer{
        background-color: #6D27A3;
    }
</style>