<style>
    *{
        box-sizing: border-box !important;
        margin: 0;
        padding: 0;
    }

    header{
        height: 60px;
    }

    body {
        background-color: #6D27A3;
        color: #fff;
        min-height: 100vh;
        overflow-y: auto;
    }

    .container {
        height: calc(100vh - 60px) !important;
    }

    .btn-purple {
        background-color: #4C145D !important;
        transition: background-color 0.1s ease-in;
    }

    .btn-purple:hover {
        background-color: #521865 !important;
    }

    .input-type-1{
        padding-inline: 5px;
        outline: none;
        border: 2px solid !important;
        border-color: #9248D9 !important;
        transition: border-color 0.2s ease;
    }

    .input-type-1:hover{
        border-color: #C382FF !important;
    }

    .input-type-1:focus{
        border-color: #C382FF !important;
    }

    option {
        background-color: #5D1E80;
    }
</style>