<style>
    html{
        box-sizing: border-box;
        /*font-size: 62.5%; 1 rem = 10px*/
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    *, *:before, *:after{
        box-sizing: inherit;
    }
    .body{
        background-color: #9248D9;
        font-family: 'Ubuntu', sans-serif;
    }
    .header{
        background-color: #4C145D;
    }
    .logo-texto{
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
    }
    .logo-letra{
        color: skyblue;
    }
    .texto{
        color: #AD5CF7;
        font-size: 25px;
    }

    /*main*/
    .contenedor{
        background-color: #4C145D;
        max-width: 1000px;
        margin: 0 auto;
        min-width: 300px;
        max-height: 550px;
    }

    @media (min-height: 820px) {
        .altura{
            height: calc(100vh - 268px);
        }
    }



    .login-registro{
        width: 80%;
        max-width: 750px;
    }
    .medida{
        max-width: 400px;
        min-width: 240px;

    }
    .boton-login-registro{
        background-color: #4C145D;
    }


    /*Footer*/
    .footer{
        background-color: #6D27A3;
    }
</style>