*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}

header{
    background-color: #4C145D;
    height: 70px;
}

footer{
    height: 70px;
    background-color: #5D1E80;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #6D27A3;
    color: #fff;
    overflow-y: auto;
}

.container {
    min-height: calc(100vh - 140px);
    max-width: 600px;
}

.logo-texto {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.logo-letra {
    color: skyblue;
}

.texto {
    color: #AD5CF7;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
}

.input-type-1{
    padding-inline: 5px;
    outline: none;
    border: 2px solid #9248D9;
    transition: border-color 0.2s ease;
}

.input-type-1:hover{
    border-color: #C382FF;
}

.input-type-1:focus{
    border-color: #C382FF;
}

option {
    background-color: #5D1E80;
}

.contenedor{
    background-color: #4C145D;
}

.card-container{
    max-width: 600px;
}

.sombra-container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.btn-purple {
    background-color: #4C145D !important;
    transition: background-color 0.1s ease-in;
}

.btn-purple:hover {
    background-color: #521865 !important;
}

@media (max-width: 360px) {

}
@media (max-width: 390px) {

}

@media (min-height: 768px) and (min-width: 1024px) {

}

@media (max-width: 844px) {

}
@media (min-height: 1024px){

}
@media (min-height: 845px) {

}

@media (min-width: 900px) {

}

.main-login{

}

.caja-form{

}
.boton-login{

}

@media (max-width: 360px) {

}
@media (max-width: 390px) {

}









.login-registro{
    width: 80%;
    max-width: 750px;
}
.medida{
    max-width: 400px;
    /*min-width: 240px;*/

}
.boton-login{
    background-color: #4C145D;
}
.tamano-form-input{
    background-color: inherit;
    border: 1px solid rgba(255,255,255,.5);
}

.main-perfil{
    height: calc(100vh - 228px)!important;
    width: 90%;
}

/*--------------------------------------*/
.alto-perfil{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-ranking{
    background-color: #4C145D;
    padding: 2px 15px;
}
.boton-crearPartida{
    background-color: #AD5CF7;
    font-size: 18px;
}
.contenedor-crearpartida{
    height: 100px;
}
.caja-partidas{
    background-color: #4C145D;
    width: 40%;
    margin: 0 auto;
    padding: 5px 20px;
    max-width: 500px;
}
.texto-izq{
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #6D27A3;
    color: #AD5CF7;
}
.partidas{
    height: 250px;
}
@media (max-width: 360px) {
    .main-perfil{
        height: calc(100vh - 168px)!important;
        width: 90%;
    }
}
@media (max-width: 390px) {

    .caja-partidas{
        width: 80%;
    }
}
/*---------------------------------------*/
.main-perfil-usuario{
    height: calc(100vh - 228px)!important;
    width: 90%;
}
.contenedor-perfil-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column!important;
    height: 100%;
    gap: 20px;
}
.texto-izq-usuario{
    text-align: left;
    width: 100%;

}
.codigo-qr{
    height: 100px;
    width: 100px;
    background-color: #4C145D;
    color: white;
}
@media (max-width: 360px) {
    .main-perfil-usuario{
        height: calc(100vh - 168px)!important;
        width: 90%;
    }
}

/*Footer*/
.footer{
    background-color: #6D27A3;
}