{{> header}}

<form id='categoriaABM' name="categoriaABM" action="/categoria/guardar" method="POST" enctype="application/x-www-form-urlencoded" class='flex flex-col p-4 h-full mx-auto' style='max-width:500px' >
    <div class="flex flex-col gap-2">
        <h4 class="text-2xl mb-2">Aquí podrás crear una categoría con su color representativo</h4>
        <div class="flex flex-col">
            <label for="Categoria">Categoría</label>
            <input id="Categoria" type="text" name="Categoria" placeholder="Escribir categoría.." class="input-type-1 bg-transparent border rounded">
        </div>
        <div class="flex flex-col">
            <label for="Color">Color</label>
            <input id="Color" type="color" name="Color" class="input-type-1 bg-transparent border rounded" >
            <input id="ColorHex" type="hidden" name="ColorHex">
        </div>
        <div class="w-full mt-4">
            <button id="categoriaSubmit" type="submit" class="sombra-container btn-purple mx-auto py-2 rounded-md text-white text-center w-full">Guardar</button>
        </div>
    </div>
</form>

{{> footer}}