{{> header}}
<!-- The Band Section -->
<main class="main-login mx-auto">
    <div class="caja-formulario flex justify-center items-center flex-col h-full mx-auto">
        <div class="text-center">
            <p class="py-3 text-white">Ingresa Nombre de Usuario y Contraseña</p>
        </div>
        <form class="flex flex-col justify-center items-center gap-3">
            <div class="caja-form">
                <label class=" text-white tamano-form">Nombre de Usuario</label>
                <input class="tamano-form-input" type="text">
            </div>
            <div class="caja-form">
                <label class=" text-white tamano-form">Contraseña</label>
                <input class="tamano-form-input" type="password">
            </div>
            <button class="boton-login rounded py-1 px-16 text-white">Iniciar Sesión</button>
        </form>
    </div>
</main>
<!-- End Page Content -->

{{> footer}}