{{> header}}

<section class="mx-auto my-10 flex flex-col justify-center items-center px-4 pb-2 card-container gap-8">
    <div class="w-full rounded-lg w-full flex justify-center items-center">
        <div class="flex flex-col justify-center gap-1">
            <h2 class="font-bold text-2xl">Estadísticas Jugadores</h2>
        </div>
    </div>

    <div class="w-full flex justify-center gap-5 flex-wrap">
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="w-full flex justify-end gap-4">
                <div class="relative">
                    <button id="dropdown-toggle-pais" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                        <span class="material-symbols-rounded">filter_list</span>Filtrar
                    </button>
                    <ul id="dropdown-menu-pais" class="absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-purple-600 ring-1 ring-black ring-opacity-5 hidden flex flex-col">
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="day">Día</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="month">Mes</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="year">Año</li>
                    </ul>
                </div>
                <button id="ImprimirJugadoresPais" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div id="imgContainer" class="w-full">
                <img id="imgJugadoresPais" src="estadisticasJugadores/mostrarJugadoresPorPais" alt="jugadores por país" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="w-full flex justify-end gap-4">
                <div class="relative">
                    <button id="dropdown-toggle-genero" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                        <span class="material-symbols-rounded">filter_list</span>Filtrar
                    </button>
                    <ul id="dropdown-menu-genero" class="absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-purple-600 ring-1 ring-black ring-opacity-5 hidden flex flex-col">
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="day">Día</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="month">Mes</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="year">Año</li>
                    </ul>
                </div>
                <button id="ImprimirJugadoresGenero" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgJugadoresGenero" src="estadisticasJugadores/mostrarCantidadJugadoresPorGenero" alt="jugadores por genero" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="self-end">
                <button id="ImprimirJugadoresGrupoEdad" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgJugadoresGrupoEdad" src="estadisticasJugadores/mostrarCantidadJugadoresPorGrupoDeEdad" alt="jugadores por grupo de edad" class="w-full">
            </div>
        </div>
    </div>
</section>

{{> footer}}