{{> header}}

<section class="mx-auto my-10 flex flex-col justify-center items-center px-4 pb-2 card-container gap-8">
    <div class="w-full rounded-lg w-full flex justify-center items-center">
        <div class="flex flex-col justify-center gap-1">
            <h2 class="font-bold text-2xl">Estadísticas Jugadores</h2>
        </div>
    </div>

    <div class="w-full flex justify-center gap-5 flex-wrap">
        <div class="contenedor-grafico-bar">
            <div class="w-full">
                <img src="estadisticasJugadores/mostrarJugadoresPorPais" alt="jugadores por país" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar mt-5">
            <div class="w-full">
                <img src="estadisticasJugadores/mostrarCantidadJugadoresPorGenero" alt="jugadores por genero" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar">
            <div class="w-full">
                <img src="estadisticasJugadores/mostrarCantidadJugadoresPorGrupoDeEdad" alt="jugadores por grupo de edad" class="w-full">
            </div>
        </div>
    </div>
</section>

{{> footer}}