{{> header}}
<!-- The Band Section -->

<section class="mx-auto my-10 flex flex-col justify-center items-center px-4 pb-2 card-container gap-8">
    ESTADISTICAs JUGADORES
</section>

<!-- End Page Content -->

{{> footer}}