{{> header}}

<section class="mx-auto my-10 flex flex-col justify-center items-center px-4 pb-2 card-container gap-8">
    <div class="w-full rounded-lg w-full flex justify-center items-center">
        <div class="flex flex-col justify-center gap-1">
            <h2 class="font-bold text-2xl">Estadísticas Generales</h2>
        </div>
    </div>

    <div class="w-full flex justify-center gap-5 flex-wrap">
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="w-full flex justify-end gap-4">
                <div class="relative">
                    <button id="dropdown-toggle-usuarios-totales" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                        <span class="material-symbols-rounded">filter_list</span>Filtrar
                    </button>
                    <ul id="dropdown-menu-usuarios-totales" class="absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-purple-600 ring-1 ring-black ring-opacity-5 hidden flex flex-col">
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="day">Día</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="month">Mes</li>
                        <li class="px-2 py-1 hover:bg-purple-500 w-full cursor-pointer" data-filter="year">Año</li>
                    </ul>
                </div>
                <button id="ImprimirCantidadJugadores" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgCantidadJugadores" src="estadisticasGenerales/mostrarCantidadJugadores" alt="cantidad jugadores" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="self-end">
                <button id="ImprimirCantidadUsuariosNuevos" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgCantidadUsuariosNuevos" src="estadisticasGenerales/mostrarCantidadUsuariosNuevos" alt="cantidad usuarios nuevos" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="self-end">
                <button id="ImprimirCantidadPreguntas" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgCantidadPreguntas" src="estadisticasGenerales/mostrarCantidadPreguntas" alt="cantidad preguntas" class="w-full">
            </div>
        </div>
        <div class="contenedor-grafico-bar flex flex-col gap-3">
            <div class="self-end">
                <button id="ImprimirCantidadPartidas" class="text-white hover:bg-purple-500 hover:shadow-lg boton-crearPartida rounded flex items-center gap-1 h-8 px-3 transition duration-100">
                    <span class="material-symbols-rounded">print</span>Imprimir
                </button>
            </div>
            <div class="w-full">
                <img id="imgCantidadPartidas" src="estadisticasGenerales/mostrarCantidadPartidas" alt="cantidad partidas" class="w-full">
            </div>
        </div>
    </div>
</section>

{{> footer}}