{{> header}}
<!-- The Band Section -->

    <section class="mx-auto my-10 flex flex-col justify-center items-center px-4 card-container">
        <div class="w-full rounded-lg w-full gap-6 flex justify-around">
            {{#lobbyData}}
            <div>
                <div>
                    <p class="text-white">{{nombreDeUsuario}}</p>
                </div>
                <div>
                    <p class="text-white">Puntaje: {{puntaje}}</p>
                    <p class="text-white">Puesto: {{puesto}}</p>
                </div>
            </div>
            {{/lobbyData}}
            <div class="flex flex-col gap-3">
                <button class="boton-ranking rounded text-white">Ranking</button>
                <button class="boton-ranking rounded  text-white">Crear Pregunta</button>
            </div>
        </div>
        <div class="w-full contenedor-crearpartida flex justify-center items-center">
            <button class=" text-white boton-crearPartida rounded px-6 py-2 font-bold hover:bg-purple-500 hover:shadow-lg">CREAR PARTIDA</button>
        </div>
        <div class="w-full caja-partidas rounded flex justify-center items-center flex-col">
            <p class="texto-izq">Partidas Jugadas</p>
            <div class="partidas flex justify-center items-center flex-col">
                <p class="text-white">sin partidas encontradas</p>
            </div>
        </div>
    </section>

<!-- End Page Content -->

{{> footer}}