{{> header}}
<!-- The Band Section -->
<main class="main-perfil mx-auto">
    <section class="alto-perfil">
        <div class=" contenedor-perfil flex justify-center items-center gap-16 ">
            <div>
                <div>
                    <p class="text-white">UsuarioX</p>
                </div>
                <div>
                    <p class="text-white">Puntaje: 999</p>
                    <p class="text-white">Puesto: 33</p>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <button class="boton-ranking rounded text-white">Ranking</button>
                <button class="boton-ranking rounded  text-white">Crear Pregunta</button>
            </div>
        </div>
        <div class="contenedor-crearpartida flex justify-center items-center">
            <button class=" text-white boton-crearPartida rounded">Crear Partida</button>
        </div>
        <div class="caja-partidas rounded flex justify-center items-center flex-col">
            <p class="texto-izq">Partidas Jugadas</p>
            <div class="partidas flex justify-center items-center flex-col">
                <p class="text-white">sin partidas encontradas</p>
            </div>
        </div>
    </section>
</main>
<!-- End Page Content -->

{{> footer}}