{{> header}}

<form id='login' name="login" action="/login/loguearse" method="POST" enctype="application/x-www-form-urlencoded" class='flex flex-col p-4 h-full mx-auto' style='max-width:500px'>
    {{#errorlogin}}
        <div class="bg-red-500 text-white py-2 px-4 rounded-md my-2 w-full">
            {{errorlogin}}
        </div>
    {{/errorlogin}}
    {{#errorMsgUsuarioNoValidado}}
        <div class="bg-red-500 text-white py-2 px-4 rounded-md my-2 w-full">
            {{errorMsgUsuarioNoValidado}}
        </div>
    {{/errorMsgUsuarioNoValidado}}
    <div class="flex flex-col gap-2">
    <h4 class="text-2xl mb-2">Ingresa nombre de usuario y contraseña</h4>
        <div class="flex flex-col">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" placeholder="usuario" class="input-type-1 bg-transparent border rounded">
        </div>
        <div class="flex flex-col">
            <label for="password">Contraseña</label>
            <div class="flex justify-between pr-4 input-type-1 bg-transparent border rounded">
                <input type="password" name="password" placeholder="contraseña" id="password" class="w-full input-vacio">
                <span id="visibility" class="material-symbols-rounded cursor-pointer">visibility_off</span>
            </div>
        </div>
        <div class="w-full mt-4">
            <button id="loginSubmit" type="submit" class="sombra-container btn-purple mx-auto py-2 rounded-md text-white text-center w-full">Continuar</button>
        </div>
    </div>
</form>
{{> footer}}
