{{> header}}
<!-- The Band Section -->
<section class="card-container mx-auto my-6 flex flex-col justify-center items-center px-4">
    {{#respuestaOKMessage}}
        <div class="bg-blue-500 text-white py-2 px-4 rounded-md my-2 w-full">
            {{respuestaOKMessage}}
        </div>
    {{/respuestaOKMessage}}
    {{#respuestaMALMessage}}
        <div class="bg-red-500 text-white py-2 px-4 rounded-md my-2 w-full">
            {{respuestaMALMessage}}
        </div>
    {{/respuestaMALMessage}}

    {{#jugando}}
        <div class="mb-7">
            <p class="text-5xl font-bold contador-texto">10</p>
        </div>
    {{/jugando}}

    <div class="sombra-container contenedor rounded-lg p-4 w-full pb-6">
        {{#pregunta}}
        <div class="flex justify-center">
            <p class="medida text-white text-left text-lg md:text-2xl mb-5">{{pregunta}}</p>
        </div>
        <form action="/partida/responder" method="GET" enctype="text/plain" class="flex flex-col gap-3">
            {{#respuestas}}
                <button type="submit" name="respuesta" value="{{respuestaA}}" class="respuesta-bg medida mx-auto py-2 lg:py-3 rounded text-white text-lg md:text-xl w-full hover:shadow-lg hover:scale-105 hover:font-bold transition duration-100">{{respuestaA}}</button>
                <button type="submit" name="respuesta" value="{{respuestaB}}" class="respuesta-bg medida mx-auto py-2 lg:py-3 rounded text-white text-lg md:text-xl w-full hover:shadow-lg hover:scale-105 hover:font-bold transition duration-100">{{respuestaB}}</button>
                <button type="submit" name="respuesta" value="{{respuestaC}}" class="respuesta-bg medida mx-auto py-2 lg:py-3 rounded text-white text-lg md:text-xl w-full hover:shadow-lg hover:scale-105 hover:font-bold transition duration-100">{{respuestaC}}</button>
                <button type="submit" name="respuesta" value="{{respuestaD}}" class="respuesta-bg medida mx-auto py-2 lg:py-3 rounded text-white text-lg md:text-xl w-full hover:shadow-lg hover:scale-105 hover:font-bold transition duration-100">{{respuestaD}}</button>
            {{/respuestas}}
        {{/pregunta}}
        </form>
    </div>
    <div class="flex justify-center items-center mt-9">
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-500 ease-in">
            <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full border-4 appearance-none cursor-pointer"/>
            <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-400 cursor-pointer"></label>
        </div>
        <label for="toggle" class="text-md md:text-lg">Reportar pregunta</label>
    </div>
</section>
<!-- End Page

 Content -->

{{> footer}}