{{> header}}
<!-- The Band Section -->
<section class="card-container mx-auto my-6 flex flex-col justify-center items-center px-4">
    {{> partidaCard}}
</section>
<!-- End Page

 Content -->

{{> footer}}