{{> header}}
<!-- The Band Section -->
<main class="main-perfil-usuario mx-auto">
    <div class="contenedor-perfil-usuario">
        <section class="flex gap-16 justify-center items-center ">
            <div class="flex flex-col justify-center items-center">
                <p class="texto-izq-usuario text-white">UsuarioX</p>
                <p class="texto-izq-usuario text-white">Puntaje: 999</p>
                <p class="texto-izq-usuario text-white">Partidas Jugadas: 7000</p>
            </div>
            <div class="flex  justify-center items-center">
                <p>FOTO</p>
            </div>
        </section>
        <section class="codigo-qr flex  justify-center items-center">
            <p>codigo QR</p>
        </section>
    </div>
</main>
<!-- End Page Content -->

{{> footer}}