{{> header}}
<!-- The Band Section -->

<section class="mx-auto my-10 flex flex-col justify-center items-center px-4 pb-2 card-container gap-10">
    <h1>PREGUNTAS REPORTADAS</h1>
</section>

<!-- End Page Content -->

{{> footer}}