{{> header}}

<div class='flex flex-col p-6 h-full gap-8 justify-between mx-auto' style='max-width:700px' id='registroInicio'>
    <h4 class="text-2xl">Preguntas Sugeridas</h4>
    <div class="w-full caja-preguntas px-3 md:px-6 rounded flex gap-3 justify-center items-center flex-col pb-6">
        <p class="texto-izq font-bold text-xl">Lista de preguntas</p>
        <div class="contenedor-preguntas overflow-auto w-full flex flex-col gap-[14px]">
            {{#preguntas}}
            <div class="cursor-pointer preguntas card-partidas flex gap-1 justify-between items-center w-full rounded-md p-2 md:p-6 hover:bg-purple-700 transition duration-150">
                <p class="text-white font-bold text-sm md:text-md w-full">{{pregunta}}</p>
                <a href="/crearPregunta&idPregunta={{idPregunta}}" class="sombra-container btn-purple py-1 rounded-md text-white text-center w-2/5 md:w-1/5 text-sm md:text-lg">
                Revisar
                </a>
            </div>
            {{/preguntas}}
        </div>
    </div>
</div>

{{> footer}}