{{> header}}
<section class="card-container mx-auto my-10 flex flex-col justify-center items-center px-4">
    {{#validationConfirmed}}
    <div class="sombra-container contenedor rounded-lg p-4 w-full pb-6">
        <div>
            <p class="texto text-center mb-3">¡LA CUENTA FUE VALIDADA CON EXITO!</p>
            <p class="text-white text-center mb-5">Inicia sesión para comenzar a jugar, mucha suerte y que te diviertas</p>
        </div>
    </div>
    <div class="mt-10 mx-auto flex flex-col gap-3 w-full">
        <a href="/" class="sombra-container btn-purple mx-auto py-2 rounded text-white text-center w-full">Continuar</a>
    </div>
    {{/validationConfirmed}}
</section>
{{> footer}}