{{> header}}
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class='w3-wide'>Validacion</h2>
    <p class='w3-opacity'><i>La validacion no existe</i></p>
    {{#validation}}
        <p class='w3-opacity'>El codigo {{validation}} no se encuentra en la tabla Validation. Revisar el registro</p>
        <br>
        <a class="w3-button" href="/">Volver al Home</a>
    {{/validation}}
</div>
{{> footer}}